* {
   padding: 0;
   margin: 0;
   border: 0;
}

*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

:focus,
:active {
   outline: none;
}

a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
   font-family: inherit;
}

input::-ms-clear {
   display: none;
}

button {
   cursor: pointer;
}

button::-moz-focus-inner {
   padding: 0;
   border: 0;
}

a,
a:visited {
   text-decoration: none
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: inherit;
}

/*------------------------------------------------------ */

body {
   font-family: 'Source Sans Pro', sans-serif;
   font-size: 15px;
   line-height: 160%;
}

.container {
   max-width: 1200px;
   padding: 0 15px;
   margin: 0 auto;
}

/* ------------------------------------------------------------------------ */

.header {
   background-image: url(../images/header-bg.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: top center;
   min-height: 793px;
}

.header__top {
   display: flex;
   justify-content: space-between;
   height: 100px;
   align-items: center;
}

.menu__list {
   display: flex;
}

.menu__list li+li {
   padding-left: 50px;
}

.menu__list a {
   opacity: 0.5;
   color: #fff;
   font-weight: 600;
   text-transform: uppercase;
   transition: all .5s;
}

.menu__list a:hover {
   opacity: 1;
}

.logo {}

.menu {}

.header-btn {}

.login {
   margin-right: 44px;
   color: #fff;
   text-transform: uppercase;
   font-weight: 600;
}

.sign-up {
   color: #250F8A;
   font-weight: 600;
   text-transform: uppercase;
   background-color: #fff;
   padding: 8px 43px;
   border-radius: 20px;
}

.header-slider {
   padding-top: 111px;
}

.header-slider__item {}

.header-slider__item-content {
   display: flex;
   justify-content: space-between;
}

.header-slider__item-info {
   max-width: 506px;
   color: #FFFFFF;
}

.header-slider__title {
   font-weight: 700;
   font-size: 45px;
   line-height: 133%;
   margin-bottom: 10px;
}

.header-slider__descr {
   font-weight: normal;
   font-size: 24px;
   line-height: 229%;
   margin-bottom: 60px;
}

.header-slider__btn {
   text-transform: uppercase;
   font-weight: 600;
   color: #250F8A;
   padding: 13px 39px;
   background: #FFCA00;
   border-radius: 25px;
}

.header-slider__item-images {
   margin: 10px 82px 0px 0px;
}

.header-dots {
   position: absolute;
   right: 0;
   top: 50%;
}

.header-dots button {
   border: none;
   background-color: #fff;
   opacity: 0.5;
   font-size: 0;
   padding: 0;
   width: 7px;
   height: 7px;
   border-radius: 3.5px;
   cursor: pointer;
   outline: none;
   margin: 10px auto;
   display: block;
}

.header-dots .slick-active button {
   width: 15px;
   opacity: 1;
}

/* ----------------------------------------------------------------- */
.specialised {
   padding: 55px 0 93px;
   background-image: url(../images/special-bg.svg);
   background-position: left bottom;
   background-repeat: no-repeat;
   color: #202020;
}

.specialised__title {
   margin-bottom: 96px;
}

.title {
   font-size: 35px;
   line-height: 128%;
   font-weight: 700;
   text-align: center;
}

.specialised__items {
   display: flex;
   justify-content: space-between;
   max-width: 840px;
   margin: 0 auto;
}

.specialised__item {
   width: 280px;
}

.specialised__item-img {
   margin-bottom: 23px;
   min-height: 159px;
}

.specialised__item-title {
   font-weight: 700;
   font-size: 20px;
   margin-bottom: 11px;
   text-align: center;
}

.specialised__item-text {
   color: #272727;
   opacity: 0.7;
   padding: 0 10px;
   text-align: center;
}

/* ---------------------------------------------------------------------- */
.advantages {
   padding-top: 64px;
   background: #F4F9FD;
   background-image: url(../images/advantages-bg.svg);
   background-repeat: no-repeat;
   background-position: center right;
}

.advantages-box {
   display: flex;
   justify-content: space-between;
   padding-bottom: 76px;
}

.advantages-box__info {
   max-width: 456px;
   padding-top: 60px;
   background-image: url(../images/title-bg-1.svg);
   background-repeat: no-repeat;
   background-position: 22px 76px;
}

.advantages-box--left .advantages-box__info {
   order: 1;
   background-image: url(../images/title-bg-2.svg);
   background-position: 22px 130px;
}

.advantages-box__info--bg {
   background-image: url(../images/title-bg-3.svg);
   background-position: 5px 105px;
}

.advantages-box__title {
   font-weight: 700;
   font-size: 35px;
   line-height: 128%;
   color: #202020;
   padding: 68px 0px 15px 48px;
}

.advantages-box__text {
   color: #272727;
   padding-left: 48px;
}

.advantages-box__text p {
   margin: 12px 0;
}

.advantages-box__images {}

/* -------------------------------------------------------------------------- */
.reviews {
   background-image: url(../images/reviews-bg.jpg);
   background-repeat: no-repeat;
   background-position: top center;
   background-size: cover;
   padding: 38px 0 82px;
}

.reviews__title {
   color: #fff;
   margin: 0 auto 48px;
   width: 384px;
}

.reviews__items {
   display: flex;
   max-width: 940px;
   margin: 0 auto;
   justify-content: space-between;
}

.reviews__item {
   width: 300px;
   border-radius: 5px;
   background-color: rgba(255, 255, 255, .2);
   padding: 35px 20px;
   color: #fff;
}

.reviews__item-head {
   display: flex;
   margin-bottom: 15px;
}

.reviews__item-head img {
   border-radius: 50%;
   margin-right: 20px;
}

.reviews__item-info {}

.reviews__item-name {
   font-weight: 600;
}

.reviews__item-position {
   opacity: 0.5;
}

.reviews__item-text {
   text-align: center;
   padding-top: 39px;
   position: relative;
}

.reviews__item-text::before {
   content: "“";
   font-weight: 700;
   font-size: 40px;
   line-height: 137%;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
}

/* ------------------------------------------------------ */
.footer {}

.footer__inner {
   display: flex;
   justify-content: space-between;
   color: #272727;
   padding: 20px 40px 17px;
}

.footer__link a+a {
   margin-left: 20px;
}

.footer__copy {}

.menu-btn {
   display: none;
}

/* ------------------------------------------------------ */
@media (max-width: 1620px) {
   .advantages {
      background-image: none;
   }
}

@media (max-width: 1201px) {
   .specialised {
      background-size: 60px;
   }
}

@media (max-width: 1190px) {

   .header-slider__item-images {
      margin: 50px 20px 0px 0px;
   }

   .header-slider__item-images img {
      width: 80%;
   }

   .header-slider__item-info {
      padding: 50px 0;
   }

   .header-slider {
      padding-top: 25px;
   }

   .advantages-box__images {
      text-align: center;
   }

   .advantages-box__images img {
      width: 90%;
      margin-top: 50px;
   }

   .advantages-box {
      justify-content: space-around;
   }

   .advantages-box--left .advantages-box__title {
      padding: 30px 0px 15px 20px;
   }

   .advantages-box--left .advantages-box__text {
      padding-left: 20px;
   }

   .advantages-box--left .advantages-box__info {
      padding-right: 30px;
   }

}

@media (max-width: 1080px) {
   .reviews__items {
      flex-wrap: wrap;
   }

   .reviews__item {
      width: 48%;
      margin-bottom: 25px;
   }
}

@media (max-width: 924px) {
   .header__top {
      flex-wrap: wrap;
   }

   .header-btn {
      width: 100%;
      text-align: right;
   }

   .login {
      margin-right: 30px;
   }

   .specialised {
      background-image: none;
   }

}

@media (max-width: 900px) {
   .header-slider__item-content {
      display: block;
   }

   .header-slider__title {
      font-size: 38px;
   }

   .header-slider__descr {
      font-size: 18px;
   }

}

@media (max-width: 858px) {
   .advantages-box__info {
      max-width: 100%;
   }

   .advantages-box {
      flex-wrap: wrap;
      padding-bottom: 20px;
   }

   .advantages-box--left .advantages-box__info {
      order: 0;
   }

   .advantages-box__images img {
      width: 100%;
   }

   .reviews__items {
      display: block;
   }

   .reviews__item {
      width: 100%;
   }

   .reviews__item-head {
      justify-content: center;
      align-items: center;
      margin-bottom: 0;
   }

   .reviews {
      padding: 38px 0;
   }
}

@media (max-width: 775px) {
   .specialised {
      padding: 20px 0 40px;
   }

   .specialised__title {
      margin-bottom: 40px;
   }

   .specialised__items {
      flex-wrap: wrap;
   }

   .specialised__item {
      width: 50%;
      margin-bottom: 20px;
   }

   .footer__inner {
      display: block;
      text-align: center;
      padding: 20px 10px 17px;
   }

   .footer__link {
      margin-bottom: 10px;
   }
}

@media (max-width: 570px) {
   body.lock {
      overflow: hidden;
   }

   .menu-btn {
      display: block;
      position: absolute;
      width: 30px;
      height: 20px;
      z-index: 10;
      background: transparent;
      right: 10px;
      top: 20px;
   }

   .menu-btn span {
      position: absolute;
      background-color: #fff;
      width: 100%;
      height: 2px;
      top: 9px;
      left: 0;
      transition: all .3s ease 0s;
   }

   .menu-btn::before,
   .menu-btn::after {
      content: '';
      position: absolute;
      background-color: #fff;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all .3s ease 0s;
   }

   .menu-btn::before {
      top: 0;
   }

   .menu-btn::after {
      bottom: 0;
   }

   .menu-btn.active::before {
      transform: rotate(45deg);
      top: 9px;
   }

   .menu-btn.active::after {
      transform: rotate(-45deg);
      bottom: 9px;
   }

   .menu-btn.active span {
      transform: scale(0);
   }

   .menu__list {
      position: fixed;
      overflow: auto;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      padding: 100px 0;
      transition: all 0.3s ease 0s;
      z-index: 2;
      display: block;
   }

   .menu__list.active {
      top: 0;
   }

   .menu__list li+li {
      padding-left: 0;
   }

   .menu__list li {
      text-align: center;
      padding-bottom: 20px;
   }

   .logo {
      z-index: 3;
   }

   .header-slider__item-info {
      padding: 10px 0;
   }

   .header {
      min-height: 670px;
   }

   .header-slider__descr {
      margin-bottom: 20px;
   }

   .specialised__items {
      display: block;
   }

   .specialised__item {
      width: 100%;
   }

   .specialised__item-img {
      text-align: center;
   }

   .title {
      font-size: 30px;
   }

   .advantages {
      padding-top: 0;
   }

   .advantages-box__title {
      font-size: 30px;
      padding: 60px 0px 15px 0px;
   }

   .advantages-box__text {
      padding-left: 0;
   }

   .advantages-box--left .advantages-box__title {
      padding: 30px 0px 15px 0px;
   }

   .advantages-box--left .advantages-box__text {
      padding-left: 0;
   }

   .reviews__title {
      width: 100%;
   }
}